.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    /* display:block; */
    z-index:999;
}
img:hover {
transform: scale(1.3);
}
.recommend_all{
  width: 1000;
  height: 700;
  display: block;
  overflow-x: scroll;
}
